.App {
  text-align: center;
  background-color: rgb(23, 23, 23);
  margin: 20px 0 0 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.graph {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.graph h2 {
  color: #e3dac9;
  opacity: 0.9;
  font-size: 1.25em;
}